<template name="forgot">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <form id="forgot-form" role="form" action="action">
        <p class="help-block" data-i18n="forgot.help"></p>
        <div class="form-group">
          <label for="email" data-i18n="forgot.email"></label>
          <input type="email" name="email" class="form-control" id="email" data-i18n="[placeholder]forgot.email"/>
        </div>
        <input type="submit" class="btn btn-default" id="login-button" data-i18n="[value]forgot.submit" />
      </form>
    </div>
  </div>
</template>