<template name="login">
  <div class="form-container">
    <form id="login-form" class="form-vertical" role="form" action="action">
      <fieldset>
        <input type="email" name="login-id" id="login-id" data-i18n="[placeholder]login.email"/><br>
        <input type="password" name="login-password" id="login-password" data-i18n="[placeholder]login.password"/><br>
        <input type="submit" id="login-button" data-i18n="[value]login.connection" />
        <p data-i18n="[html]login.forgot"></p>
        <p data-i18n="[html]login.signup"></p>
      </fieldset>
    </form>
  </div>
</template>