<template name="newpassword">
  <form id="reset-form">
    <div>
      <input type="password" class="new input-invisible" name="email" placeholder="Entrez un mot de passe"/>
      <input type="password" class="check input-invisible" name="email" placeholder="Confirmez le mot de passe"/>
      <button class="progress progress-button" data-style="move-up" data-horizontal="" type="submit">
        <span class="progress-wrap">
          <span class="content  fa fa-check">Modifier le mot de passe</span>
          <span class="progress">
            <span class="progress-inner"></span>
          </span>
        </span>
      </button>
    </div>
    <div class="alert">
      <div class="alert-warning"></div>
      <div class="alert-success">
      </div>
    </div>
  </form>
</template>