<template name="signup">
  <div class="container">
    <div class="form-container">
      <form id="signup-form" class="form-vertical" role="form" action="action">
        <fieldset>
          <input type="email" name="signup-email" placeholder="Email"/><br>
          <input type="password" name="signup-password" placeholder="Mot de passe"/><br>
          <input type="password" name="signup-password-confirm" placeholder="Confirmation du mot de passe"/><br>
          <input class="btn btn-primary" type="submit" id="signup-button" value="S'INSCRIRE" />
        </fieldset>
      </form>
    </div>
    <div class="alert">
      <span class="alert-success"></span>
      <span class="alert-warning"></span>
    </div>
  </div>
</template>