<template name="dashboard">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <h1 data-i18n="dashboard.title"></h1>
      <button class="js-new-entry btn btn-primary" data-i18n="dashboard.newentry"></button>
      <button class="js-export btn btn-default" data-i18n="dashboard.export"></button>
      <h4 data-i18n="dashboard.list-title"></h4>
      <ul class="list-group">
        {{#each entries}}
          <li class="list-group-item">
            <a href="/entry/{{this.slug}}">
              <img class="img-thumbnail" width="100" src="/cfs/files/{{getImagePath this.imageID}}">
              <strong>{{this.title}}</strong>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>