<template name="newEntry">
  <a href="/dashboard">Dashboard</a>
  <h1>New entry</h1>
  <div class="form-container">
    <form id="entry-form" class="form-vertical" role="form" action="action">
      <fieldset>
        <input type="text" id="entry-title" name="entry-title" placeholder="Entry title" /><br/>
        <textarea id="entry-description" name="entry-description" placeholder="Entry description"></textarea><br/>
        <input type="text" id="entry-capacity" name="entry-capacity" placeholder="Entry capacity" /><br/>
        <input type="text" id="entry-also" name="entry-also" placeholder="Entry variants" /><br/>
        <input type="text" id="entry-extras" name="entry-extras" placeholder="Entry extras informations" /><br/>
        <input type="file" id="entry-image" accept="image/*" multiple="false" name="entry-image" placeholder="Entry image" /><br/>
        <input type="submit" id="entry-submit" value="Submit"/>
      </fieldset>
    </form>
  </div>
</template>