<template name="newEntry">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <a href="/dashboard" data-i18n="dashboard.back"></a>
      <h1 data-i18n="dashboard.newentry-title"></h1>
      <form id="entry-form" role="form" action="action">
        <div class="form-group">
          <label for="entry-title" data-i18n="dashboard.newentry-title-input"></label>
          <input type="text" class="form-control" id="entry-title" name="entry-title" data-i18n="[placeholder]dashboard.newentry-title-input" />
        </div>
        <div class="form-group">
          <label for="entry-description" data-i18n="dashboard.entry-description-input"></label>
          <textarea class="form-control" id="entry-description" name="entry-description" data-i18n="[placeholder]dashboard.entry-description-input"></textarea>
        </div>
        <div class="form-group">
          <label for="entry-capacity" data-i18n="dashboard.entry-capacity-input"></label>
          <input type="text" class="form-control" id="entry-capacity" name="entry-capacity" data-i18n="[placeholder]dashboard.entry-capacity-input" />
        </div>
        <div class="form-group">
          <label for="entry-also" data-i18n="dashboard.entry-also-input"></label>
          <input type="text" class="form-control" id="entry-also" name="entry-also" data-i18n="[placeholder]dashboard.entry-also-input" />
        </div>
        <div class="form-group">
          <label for="entry-extras" data-i18n="dashboard.entry-extras-input"></label>
          <input type="text" class="form-control" id="entry-extras" name="entry-extras" data-i18n="[placeholder]dashboard.entry-extras-input" />
        </div>
        <div class="form-group">
          <label for="entry-image" data-i18n="dashboard.entry-image-input"></label>
          <input type="file" id="entry-image" accept="image/*" multiple="false" name="entry-image" />
          <p class="help-block">L'image ne doit pas contenir d'espace, de point ou de caractère spéciaux.</p>
        </div>
        <input type="submit" class="btn btn-default" id="entry-submit" data-i18n="dashboard.submit"/>
      </form>
    </div>
  </div>
</template>